<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="1.9.0-preview2" targetFramework="net472" />
  <package id="Xwt" version="0.2.166" targetFramework="net472" />
  <package id="Xwt.Gtk" version="0.2.166" targetFramework="net472" />
  <package id="Xwt.Gtk3" version="0.2.166" targetFramework="net472" />
  <package id="Xwt.WPF" version="0.2.166" targetFramework="net472" />
  <package id="Xwt.XamMac" version="0.2.166" targetFramework="net472" />
</packages>